h1{
    font-style: bold;
    color: brown;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}